@import url("https://use.typekit.net/evg8bhr.css");

body {
  font-family: supria-sans,sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100%;
  background-color: white;
  color: #111;
  width: 80%;
  min-width: 400px;
  min-height: 200px;
  padding: 1em;
  margin: 3% 7%;
  display: block;
}

.catdescription {
    border-left: 3px solid grey;
    max-width: 650px;
    padding-left: 10px;
}

img.image {
  width: 100%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 0em;
  border-style: 2px outset grey;

}

img.illustration {
  align-self: center;
  max-width: 35%;
}

img.coverphoto {
  width: 100%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.published {
    color: grey;
}

.half {
    max-width: 48%
}

.threequarters {
    max-width: 75%
}

.image {
    margin-top: 1em;
    margin-bottom: 0em;
}

a:link    { color: darkblue; text-decoration: none;      }
a:hover   { color: darkblue; text-decoration: underline; }
a:visited { color: darkblue;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

h2.entry-title {
    margin-bottom: 0.250em;
    margin-top: 1.5em;
    font-style: normal;
    font-weight: 400;
}

#menu li {
    content:none; 
    display: inline;
    padding-right: 1.5em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-inline-start: 0px;
}

ul.navi {
    padding-inline-start: 0px;
    margin-bottom: 2em;
    margin-inline-start: 0;
}

ol.entry-content {
list-style-type: decimal}

ol {
list-style-type: none}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 0;
}

#banner {
    font-family: bookmania, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
}

#allposts {
    margin-bottom: 2em;
    font-family: supria-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    color: grey;
    white-space: pre;
    margin-top: 1em;
}

.staticcontent {
    max-width: 650px;
}

a.tags {
    padding-right: 0.5em;
    color: darkblue;
}

h1.statictitle {
    margin-bottom: 0.375em;
    margin-top: 1.5em;
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
}

pre {
    margin: 2em 1em 2em 4em;
}

#exerciseform {
    display: flex;
    flex-direction: column;
}

.buttons {
    font-family: supria-sans, sans-serif;
    color: grey;
}

#subscribe {
    /*position: fixed;*/
    margin-top: 2em;
    color: grey;
    bottom: 10px;
    background-color: white;
}

#inputemail {
  color: grey;
}

.input {
  width: 20%;
}

p {
  line-height: 1.5em;
  margin-bottom: 0;
}

ul {
  padding-inline-start: 4px;
  margin-inline-start: 1em;
  line-height: 1.5em;
}

article.hentry {
  max-width: 650px;
}

#content {
  max-width: 650px;
}

.reference {
  font-style: italic; 
  font-weight: 300;
}

blockquote{
    margin-block-start: 1.3em;
    margin-block-end: 1.3em;
    /* border-left: 3px solid grey; */
    /* padding-left: 10px; */
    margin-inline-start: 30px;
    margin-inline-end: 30px;
    /* color: rgb(0 0 139); */
}

hr {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 2em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border: 1px solid lightgrey;

}

figure {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

audio {
    width: 400px;
    height: 54px;
}

figcaption {
    margin-inline-start: 22px;
    /* font-style: italic; */
    font-weight: 300;
    font-size: 90%;
    /* font-family: bookmania; */
}

p.credit {
    font-style: italic;
    font-weight: 300;
}

p.bold {
    font-style: italic;
}

p.question {
    font-size: 205%;
    line-height: 1.25;
    margin-top: 1em;
}

div.previousnext {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-weight: 300;
  font-size: 80%;
  margin-top: 2em;
}

h3 {
    margin-block-start: 2em;
    margin-block-end: 0.8em;
}

figcaption.pictures {
     margin-inline-start: 0px;
     width: 100%;
     font-style: italic;
}

iframe {
     margin-top: 1.5em;
}

#more {display: none;}