@import url("https://use.typekit.net/evg8bhr.css");

body {
  font-family: supria-sans,sans-serif;
  font-weight: 00;
  font-style: normal;
  font-size: 100%;
  background-color: white;
  color: #111;
  width: 80%;
  min-width: 400px;
  min-height: 200px;
  padding: 1em;
  margin: 5% 10%;
  display: block;
}

img {
  max-width: 100%;
}

img.illustration {
  max-width: 50%;
}

a:link    { color: blue; text-decoration: none;      }
a:hover   { color: blue; text-decoration: underline; }
a:visited { color: blue;                             }

h1 a { color: inherit !important }
h2 a { color: inherit !important }
h3 a { color: inherit !important }
h4 a { color: inherit !important }
h5 a { color: inherit !important }
h6 a { color: inherit !important }

#menu li {
    display: inline;
    padding: 10px;
}

#post-list {
    margin-bottom: 1em;
    margin-top: 1em;
}

#banner {
    font-family: bookmania, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
}

pre {
    margin: 2em 1em 2em 4em;
}

